@import "estiloGeral.css";

.titulo {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 45px;
    padding-top: 2%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
}


h2 {
    color: #9c9c9c;
    font-size: 15px;
    font-weight: bold;
}


h3 {
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
}


.iconCategoria {
    width: 70px;
    height: 70px;
    padding-right: 2%;
}


.conteudo {
    padding-top: 1.5%;
    width: 50%;
    margin: auto;
}


.filtrosBusca {
    border-radius: 20px;
    background-color: #f7f7f7;
    display: flex;
    box-shadow: -1px 3px 15px -4px rgba(0,0,0,0.33);
    justify-content: center;
    margin-bottom: 5%;
}


.areaInput {
    /* padding: 0px 55px 0px 0px; */
    width: 20%;
}


.input {
    width: 75%;
}


.areaBtn {
    display: flex;
    align-items: center;
}




.btnAdicionarSaldo {
    align-items: center;
    width: 6rem;
    height: 35px;
    background-color: #FFC000;
    color: #ffffff;
    font-weight: bold;
    border: 0ch;
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: -1px 3px 15px -4px rgba(0,0,0,0.33);
    margin-top: 15%;
    margin-left: 10%;
}


.filtrosBusca {
    display: flex;
    padding: 2%;
}


input {
    font-family: 'Almarai', sans-serif;
    font-weight: 600;
    font-size: 15px;
}


    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
        font-size: 20px;
        font-weight: 600;
    }


.input::placeholder {
    font-size: 14px;
}



input:focus {
    background-color: #ffffff;
    border-color: #f2b705;
}



select {
    background-color: #ededed;
    border-color: #cdcdcd;
    border-width: thin;
    box-shadow: -1px 3px 15px -4px rgba(0,0,0,0.33);
    border-radius: 5px;
    height: 2rem;
    width: 9rem;
    outline: none;
    font-weight: 600;
    font-size: 15px;
}
