@import "estiloGeral.css";


header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    box-sizing: border-box;
    padding: 16px 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

p {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.valor {
    color: #FFC000;
}

.btnEntrar div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.logoepesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 700px;
}

.entraremais {
    display: flex;
    justify-content: space-between;
    width: 478px;
    height: 51px;
}

header ul {
    margin-right: 0px;
    width: 231px;
    margin: auto 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

    header ul li {
        display: inline;
    }

h1 {
    margin-top: 0;
}

input {
    padding-left: 16px;
    width: 410px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--cinza-tcc, #D9D9D9);
    background: #f1f1f1 url("../img/search.png") no-repeat 13px;
    background-position: 395px;
    outline: 0;
}

    input:focus {
        background-color: var(--black-tcc);
    }


.pesquiecategoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 565px;
}

.btnEntrar {
    font-size: 16px;
    background: var(--branco);
    color: var(--preto);
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    border-left: 2px solid var(--black-tcc, #4B4B4B);
    border-bottom: none;
    border-top: none;
    border-right: none;
    width: 185px;
    cursor: pointer;
}

    .btnEntrar img {
        width: 44px;
    }


.dropbtn {
    background-color: var(--branco);
    background: #ffffff url("../img/seta.png") no-repeat 90px;
    color: var(--preto);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 126px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 31px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background: #f7f7f7;
    border-radius: 5px;
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    z-index: 1;
    width: 280px;
}

    .dropdown-content button {
        color: black;
        background-color: var(--black-tcc);
        padding: 5px 12px;
        text-decoration: none;
        display: flex;
        border-bottom: solid 1px #dddddd;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    width: 126px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 31px;
    background: #ffffff url("../img/setainversa.png") no-repeat 90px;
}

.subcatego img {
    width: 40px;
    margin-right: 10px;
}

.subcatego {
    width: 280px;
    outline: 0;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: none;
}

    .subcatego:hover {
        background-color: #ffbf0067;
    }

header a{
    text-decoration:none;
}

header a:visited {
    text-decoration: none;
    color:initial;
}

header a:active {
    text-decoration: none;
    color: initial;
}

#fotoPerfil{
    border:2px solid var(--amarelo);
    border-radius:80%;
}