@import "estiloGeral.css";
@import "header.css";
@import "footer.css";
@import "login.css";


html {
    height: 100%;
}

.conteudo {
    padding: 70px;
    padding-top: 0;
}

.banner {
    height: 420px;
    width: 100%;
    background-color: var(--cinza-escuro);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .banner .textoBanner {
        color: var(--branco);
        margin: 0px;
        margin-top: 25px;
        width: 423px;
        font-size: 20px;
    }

    .banner .tituloBanner {
        color: var(--amarelo);
        margin: 0px;
        margin-top: 30px;
        text-transform: uppercase;
        width: 420px;
    }

    .banner div {
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }

.btnCadastrar {
    font-size: 16px;
    background: var(--cinza-escuro);
    color: var(--branco);
    padding: 12px;
    width: 120px;
    border: solid 1px var(--branco);
    margin-top: 20px;
    border-radius: 5px;
}


    .btnCadastrar:active {
        border: solid 1px #fbfbfb93;
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.63);
    }



    .btnCadastrar img {
        transform: rotate(270deg);
    }


h1, h2 {
    margin-top: 50px;
}

.txtCategoria {
    color: #4B4B4B;
    margin: 0px;
    font-size: 12px;
}


h3, h4, h5, h6, .txtValorProduto {
    font-family: 'Inter', sans-serif;
    color: #4B4B4B;
    margin-left: 5%;
    font-size: 15px;
}

h5, h6, .txtDataEncerramento, .txtEncerra {
    font-size: 15px;
    margin-bottom: 5%;
    margin-top: 5%;
}


.txtValorProduto {
    font-size: 20px;
    margin-top: -7px;
}


.carrossel {
    width: 100%;
    display: flex;
    background-color: #fbfbfb;
    box-shadow: 1px 1px 13px 2px #CECECE;
    border-radius: 5px;
    margin-bottom: 0%;
    padding: 11px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}


.categorias {
    width: 8%;
    display: inline-block;
    text-align: center;
}

.iconeCarrossel {
    width: 35%;
}


p {
    text-transform: uppercase;
}


.txtDataEncerramento {
    color: #FFC000;
}


.imgProduto {
    height: 175px;
    width: 100%;
    margin-bottom: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.produtosCompreJa {
    display: flex;
    margin-left: 0px;
/*    justify-content: space-between;
    align-items: center;
    align-content: center;*/
    flex-wrap: wrap;
}