html {
    font-family: 'Inter', sans-serif;
}


.form-inline {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 345px;
}

    .form-inline .form-group {
        flex-grow: 1;
        grid-template-areas: "group";
    }

.form-group {
    grid-gap: 0.5em;
    display: grid;
    width: min(100%,40ch);
}

.form-inline .form-group .labelinput {
    align-self: start;
    background-image: linear-gradient(to top,var(--color-background-alt) 0 calc(50% - 2px),var(--color-background) calc(50% - 2px));
    padding-left: 0.2em;
    padding-right: 0.2em;
    position: relative;
    transform: translate(0.5rem,-50%);
    width: max-content;
    background-color: #4B4B4B;
    font-size: 15px;
    color: white;
}

.form-inline .form-group > * {
    grid-area: group;
    color: #d9d9d9;
    width: 100%;
    font-size: 20px;
}

.form-group input {
    min-height: 35px;
    width: 180px;
}


.form-group input, .form-group textarea {
    --outline-color: var(--color-primary);
    background-color: var(--color-background-alt);
    border: 1px solid;
    border-radius: 4px;
    font: inherit;
    padding: 0.2rem 0.5rem 0.2rem;
    width: 100%;
}

.form-field::placeholder {
    color: #ecececa1;
}
