@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Inria+Sans:wght@300&family=Raleway&family=Roboto&display=swap');
@import "estiloGeral.css";
@import "header.css";
@import "footer.css";

/*#pai {
    background-image: url(imagens/login/backgroundLogin.png);
    background-repeat: no-repeat;
    width: 950px;
    float: right;
}
*/




.dadosLogin {
    display: flex;
    width: 363px;
    height: 458px;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(75, 75, 75, 0.64);
    backdrop-filter: blur(17.5px);
    color:var(--branco);
}

    .dadosLogin p, .dadosLogin h1 {
        color: var(--branco);
    }

#pessoaFisica, #pessoaJuridica{
    color:var(--branco);
    position:relative;
    bottom:5px;
}

#textoLogin{
    margin: auto 0;
    color:var(--branco);
}

#inputs p{
    color:var(--branco);
}

#dadosLogin {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 543px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.dadosLogin h1 {
    width: 311px;
    color: var(--branco, #FFF);
    font-family: Almarai;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    color:var(--branco);
}

#tipoConta {
    display: flex;
    justify-content: space-around;
    width: 330px;
    height: 30px;
    border-bottom: 1px solid #B3B3B3;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 22px;
    color: var(--branco);
}

 label {
    color: var(--branco);
}


.input {
    display: flex;
    flex-direction: column;
    width: 311px;
    height: 35px;
    margin-bottom: 22px;
}

#acesso {
    width: 311px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #B3B3B3;
}

    #acesso #btnLogin {
        width: 317px;
        height: 35px;
        color: #4B4B4B;
        background-color: #FFF;
        font-weight: bolder;
        margin-bottom: 8px;
        border: solid;
        border-radius: 5px;
        font-size: 15px;
    }

    #acesso p {
        color: #4984FF;
        text-decoration: underline;
        font-size: 12px;
    }

#criarConta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 333px;
}

#btnLogin:hover{
    cursor:pointer;
}

#criarConta #btnLogin {
    width: 200px;
    height: 35px;
    background-color: #FFC000;
    color: rgb(255 255 255);
    font-weight: 900;
    margin-top: 10px;
    border: solid 0px;
    border-radius: 5px;
    letter-spacing: 1px;
}


.form-inline {
    color: var(--branco);
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 310px;
    margin-bottom: 20px;
}

    .form-inline .form-group {
        color: var(--branco);
        --modifier: calc(30ch - 100%);
        flex-basis: calc(var(--modifier)*999);
        flex-grow: 1;
        grid-template-areas: "group";
    }

.form-group {
    color: var(--branco);
    grid-gap: 0.5em;
    display: grid;
    width: min(100%,40ch);
}

.form-inline .form-group label {
    align-self: start;
    /* background-image: linear-gradient(to top,var(--color-background-alt) 0 calc(50% - 2px),var(--color-background) calc(50% - 2px)); */
    font-size: .9rem;
    background: #4B4B4B;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    transform: translate(0.5rem,-50%);
    width: max-content;
}

.form-inline .form-group > * {
    grid-area: group;
}

.form-group input {
    color: var(--branco);
    min-height: 35px;
    width: 180px;
}


.form-group input, .form-group textarea {
    --outline-color: var(--color-primary);
    background-color: var(--color-background-alt);
    border: 2px solid #bababa;
    border-radius: 4px;
    color: var(--color-on-background);
    font: inherit;
    padding: 0 0.5em;
    width: 289px;
}

.dadosLogin label {
    background-color: rgb(255, 255, 255);
}

.btnCadastro {
    background-color: transparent;
    color: var(--amarelo);
    font-size: 23px;
    text-decoration: underline;
}
