@import "estiloGeral.css";

body {
    margin: 0;
}

.cardsPai {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color:var(--cinza-escuro);
}


.imgPerfil {
    height: 100px;
    border-radius: 80%;
    border: 3px solid;
    border-color: #FFC000;
}


.foto {
    border-radius: 70%;
    height: 25%;
    width: 20%;
    /* height: 5%; */
}


.nomeEmail {
    padding-left: 6%;
    padding-top: 3%;
}


.dadosPessoais {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    border: 3px solid #f8f8f8;
    padding-bottom: 1%;
}

.primeiraSessao {
    display: flex;
}


.sessaoDados, .sessaoDados2, .cardCarteira {
    font-size: 12px;
    padding-bottom: 1%;
    /* display: flex; */
}


.sessaoDados2 {
    width: 95%;
    padding-right: 15px;
}


.nomeAniversario, .CPF_RG, .CEP_Pais_UF_Cidade, .RuaNumeroBloco {
    display: flex;
    font-size: 10px;
}


.dadoInicial {
    padding-right: 5%;
    font-size: 19px;
}

.info {
    font-family: 'Inter', sans-serif;
    padding-right: 1%;
    font-weight: bold;
}


.cardCarteira {
    border: 3px solid #f8f8f8;
    width: 470px;
    margin-left: 2%;
    padding-bottom: 0px;
}

.cardCarteira2 {
    border: 3px solid #f8f8f8;
    width: 470px;
    margin-left: 2%;
    padding-bottom: 0px;
    margin-top: 30px;
}

.infoSaldo {
    display: flex;
}


.areaCartao {
    display: flex;
    flex-direction: column;
}


.numeroCartao, .CVV, .titular, .dataVencimento {
    display: flex;
    font-size: 10px;
    /* flex-direction: column; */
}


.titulo {
    padding-top: 3%;
    color: #FFC000;
    font-weight: 700;
    font-size: 35px;
}


.primeiraSessao, .sessaoDados, .sessaoDados2, .areaSaldoCarteira {
    border-bottom: 3px solid #f8f8f8;
}


.dadosPessoais, .cardCarteira {
    border-radius: 1%;
    box-shadow: 0px 0px 2px 0px rgba(194,194,194,0.75);
}


.primeiraSessao, .sessaoDados, .sessaoDados2, .areaSaldoCarteira, .areaCartao {
    padding-left: 3%
}


.btnExibirDados {
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    margin-left: 70%;
    width: 27%;
    height: 25px;
    background-color: #ffffff;
    font-size: 12px;
    width: 21%;
    border: 1px solid #f8f8f8;
    border-radius: 8%;
    box-shadow: 0px 0px 9px 1px rgba(194,194,194,0.87);
}


.botoes {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 2%;
}




.btnEditarEndereco, .btnSelecionarEndereco {
    width: 35%;
    height: 60px;
    background-color: #FFC000;
    color: #ffffff;
    border: 0ch;
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 9px 0px rgba(194,194,194,0.50);
}


.dadosPessoais, .cardCarteira {
    height: 45%
}

.areaSaldoCarteira, .areaCartao {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    border-bottom-width: 0px;
}


.areaCartao {
    border-bottom: 3px solid #f8f8f8;
}




.btnAdicionarSaldo {
    width: 170px;
    height: 45px;
    background-color: #FFC000;
    color: #ffffff;
    border: 0ch;
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    font-size: 17px;
    border-radius: 7px;
    box-shadow: 0px 0px 9px 0px rgba(194,194,194,0.50);
}

.btns {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.btnAdicionarSaldo, .btnSelecionarCartao {
    width: 170px;
    height: 45px;
    background-color: #FFC000;
    color: #ffffff;
    border: 0ch;
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
    font-size: 17px;
    border-radius: 7px;
    box-shadow: 0px 0px 9px 0px rgba(194,194,194,0.50);
}






/* .areaBtnSelecionarCartao
{
  padding-top: 5%;
} */


@import "estilogeral.css";

footer {
    margin-top: 50px;
    margin-bottom: -5px;
    background: #FFF;
    box-shadow: 0px 0px -10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-end;
}

.footer {
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    background-color: var(--branco);
    box-sizing: border-box;
    padding: 0px 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}



.redesSociais {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}

    .redesSociais div {
        width: 34px;
        height: 34px;
        font-size: 40px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid rgba(217, 217, 217, 0.19);
        background: rgba(255, 255, 255, 0.699);
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        justify-content: center;
    }



        .redesSociais div:hover {
            background: rgb(255, 255, 255);
            width: 40px;
            height: 40px;
            cursor: pointer;
        }


.dadoInicial {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.cardsdireita {
    margin-left: 34px;
}

.Ttmp {
    margin-left: 20%;
    font-weight: bold;
}

.cardsTtmp {
    display: flex;
    justify-content: center;
}
